<p id="notice"><%= notice %></p>

<h1><%= "#{@writer.first_name} #{@writer.last_name}" %></h1>

<p>
  <b>Email:</b>
  <%= @writer.email %>
</p>

<p>
  <b>Screen name:</b>
  <%= @writer.screen_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @writer.gender %>
</p>


<%= link_to 'Edit', edit_writer_path(@writer) %> |
<%= link_to 'Back', writers_path %>
