<!DOCTYPE html>
<html>
<head>
  <title>WriterApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
		<%= render 'layouts/nav_bar' %>
	<% end %>
	<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>
	<%= yield %>
</body>
</html>
